@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.Logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-bottom: 50px;
}

.container {
  display: grid;
  margin: 40px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; 
}

.Artwork {
  margin-left: auto;
  margin-right: auto; 
  padding: 5%;
  margin: 5%;
  max-width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Artwork img {
  max-width: 100%;
}